.emergency {
    background-color: rgb(214, 127, 127);
    margin: 10px 0;
    padding: 1.5em 0;
    /* display: flex; */
}
.ticket {
    background-color: rgb(221, 223, 154);
    height: min-content;
    margin: 10px 0;
    padding: 1.5em 0;
    /* display: flex; */
}
